.kt-inbox-entry {
  padding: 5px;
  color: var(--text-normal);
}

.kt-inbox-entry:not(:last-child) {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid var(--background-secondary-alt);
}

.kt-spacer {
  flex: 1;
}

.kt-entry-row {
  display: flex;
  align-items: center;
  gap: 8px;
}

.kt-usericon {
  border-radius: 50%;
  width: 24px;
  height: 24px;
}

.kt-username {
  color: var(--text-normal);
  margin-left: -2px;
}

.kt-channel-container {
	width: 95%;
	margin-left: 2.5%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 3px;
}

.kt-channel-name {
  color: var(--header-primary);
  font-size: 16px;
}

.kt-timestamp {
  color: var(--text-muted);
  font-size: .75rem;
}

.kt-content {
  padding: 8px 0 5px;
  line-height: 1.25rem;
}

.kt-matched {
  color: var(--text-muted);
  font-size: .75rem;
  display: flex;
  align-items: center;
}

.kt-matched > code {
  background-color: var(--background-secondary);
  font-size: .75rem;
  border: 1px solid var(--background-tertiary);
  border-radius: 4px;
  padding: 3px 5px;
  margin-left: 3px;
  color: var(--text-secondary);
  max-width: 10px;
  overflow: hidden;
  white-space: nowrap;
  max-width: 250px;
  display: inline-block;
  text-overflow: ellipsis;
}

.kt-button {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: var(--background-secondary-alt);
  transition: background-color .2s;
}

.kt-button:hover {
  background-color: var(--background-tertiary);
}

.kt-button path {
  transition: fill .2s;
}

.kt-button:hover path {
  fill: var(--interactive-active);
}